:root {
}

body {
  font-family: "Roboto", sans-serif;
}
.text {
  color: #2196F3;
  Font style: Raleway; width: 700;
  Font size: 26px;
  }
.studio {
    color: #212121;
    Font size: 26px;
    Font style: Raleway; width: 700;
}